# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.claude/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Coverage
coverage/
